<footer class="footer-distributed">
  <div class="footer-left">
    <a href="#"><%= link_to "Home", root_path %></a>
    ·
    <a href="#">Sobre</a>
    ·
    <a href="#">Faq</a>
    ·
    <a href="#">Contatos</a>
  </div>

  <div class="footer-right">

    <div class="footer-company-about">
      <span>Sobre a Talent-Brand</span>
      Varias empresas já usam nossos sistemas de recrutamento.
    </div>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>

  </div>
</footer>
