<div-container>
  <nav class="navbar">
    <div class="logo-content">
      <span>Talent-Brand NotePad</span>
    </div>
    <div class="nav-links">
      <% if user_signed_in? %>
        <span><%= link_to 'Log out', destroy_user_session_path, method: :delete %></span>
        <span><%= link_to 'Minhas notas', notes_path %></span>
      <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </div>
  </nav>
</div-container>
